<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="/css/styles.css" rel="stylesheet">
    <title>Todo list</title>
  </head>
  <body>
    <!-- Scriplet tags <% %> allow control flow js code written alongside html -->
    <div class="box" id="heading">
          <h1><%= today_name %></h1>
    </div>


    <div class="box">

      <% for(let i = 0; i < newListItem.length; i++) { %>
      <div class="item">
          <input type="checkbox">
          <p>
          <%= newListItem[i] %>
          </p>
      </div>
      <% } %>
      <form class="item" action="/" method="post">
        <input placeholder="New item" type="text" name="input_tsk" autocomplete="off">
        <button type="submit" name="button">+</button>
      </form>
    </div>



  </body>
</html>
